<footer class="py-4 text-xs flex items-center justify-center">
  <p>Made with <i class="ph ph-heart-straight"></i> by
    <a class="font-bold hover:underline" href="https://github.com/kallebysantos" target="_blank"
      rel="noreferrer">kallebysantos</a>
  </p>
</footer>
