@inherits LayoutComponentBase

<div class="flex h-screen flex-col">
  <div class="w-full flex justify-end p-4">
    <ThemeToggle />
  </div>

  <header class="flex items-center justify-center my-6">
    <NavLink href="">
      <div class="w-40 mb-2">
        <img src="logo.svg" class="dark:hidden" />
        <img src="logo-white.svg" class="hidden dark:block " />
      </div>
      <h2 class="text-2xl font-bold">
        Pango.UI
        <span class="text-muted-foreground/80 font-medium">
          Docs
        </span>
      </h2>
    </NavLink>
  </header>

  <main class="flex flex-1 flex-col gap-8 md:px-20">
    @(Body)
  </main>

  <CodePageScript />
  <TabsPageScript />
</div>
