<a href="https://github.com/kallebysantos/pango-ui" target="_blank">
  <Button Variant=@(Button.Variants.Outline) Size=@(Button.Sizes.Icon)>
    <i class="ph ph-github-logo text-lg"></i>
  </Button>
</a>
