<Button Variant=@(Button.Variants.Outline) Size=@(Button.Sizes.Icon) onclick="toggleTheme()">
  <i class="dark:hidden ph ph-sun text-lg"></i>
  <i class="hidden dark:block ph ph-moon-stars text-lg"></i>
</Button>
