@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-4">
  <nav class="flex flex-col gap-2">
    <NavLink href="/alert">
      <Button Variant=@(Button.Variants.Link)>
        Alert
      </Button>
    </NavLink>

    <NavLink href="/badge">
      <Button Variant=@(Button.Variants.Link)>
        Badge
      </Button>
    </NavLink>

    <NavLink href="/button">
      <Button Variant=@(Button.Variants.Link)>
        Button
      </Button>
    </NavLink>
  </nav>
</div>


