@page "/"

<PageTitle>Home</PageTitle>

@*
<div class="flex flex-col gap-4">
  <QuickLinks Base=@(typeof(Pages.Examples.Examples)) />
</div>
*@

<MdxRenderer Value="@(content)" />

@code {
  private string content = $@"
# Hello, Blazor MDX!
This is **Markdown** with a Blazor component:

<Button>Hello World from MDX</Button>

<Separator />

<Button>Other button</Button>

## Test after
like you can see we did rendered Markdown Razor
";
}

