<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link rel="stylesheet" href="app.css" />
  <link rel="stylesheet" href="BlazorSSR.styles.css" />
  <link rel="stylesheet" href="Pango.UI.styles.css" />
  <HeadOutlet />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <script src="auto-theme.js"></script>
</head>

<body>
  <Routes />
  <script src="_framework/blazor.web.js"></script>
</body>

</html>
