/* table scrollbar */
div[data-table-scope-id]::-webkit-scrollbar {
    height: 0.375rem;
}

div[data-table-scope-id]::-webkit-scrollbar-track {
    border-radius: 100%;
    background-color: color-mix(in oklab, var(--muted) 75%, transparent);
}

div[data-table-scope-id]::-webkit-scrollbar-thumb {
    border-radius: 0.125rem;
    background-color: color-mix(in oklab, var(--muted-foreground) 10%, transparent);
}

div[data-table-scope-id]::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(in oklab, var(--muted-foreground) 25%, transparent);
}

/* table */
div[data-table-scope-id] {
    flex: 1;
    border-radius: 0.375rem;
    border: 0.05rem solid var(--border);
    overflow-x: auto;
    width: 100%;
}

/* quick grid */
::deep .quickgrid[theme=data-table] {
    flex: 1;
    width: 100%;
}

/*header title*/
::deep .quickgrid[theme=data-table] div.col-title-text {
    font-weight: 500;
    color: var(--muted-foreground);
}

/* Header wrapper */
::deep .quickgrid[theme=data-table] div.col-header-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

/* filter pop up */
::deep .quickgrid[theme=data-table] div.col-options {
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    border: 0.05rem solid var(--border);
    background-color: var(--background);

    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

/* filter button */
::deep .quickgrid[theme=data-table] button.col-options-button {
    background-image: none;
}

::deep .quickgrid[theme=data-table] button.col-options-button::after{
    font-family: "Phosphor" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e2f0"; /* ph-list */

}

/* sort indicator */
::deep .quickgrid[theme=data-table] div.sort-indicator {
    display: flex;
    align-items: center;
    background-image: none;
    padding-left: 0.5rem;
    color: var(--muted-foreground);

}

::deep .quickgrid[theme=data-table] div.sort-indicator::after {
    font-family: "Phosphor" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    content: "\e140"; /* ph-caret-up-down */

}

::deep .quickgrid[theme=data-table] button.col-title:focus > div.sort-indicator::after {
    font-family: "Phosphor" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e03e"; /* ph-arrow-down */
}

::deep .quickgrid[theme=data-table] button.col-options-button {
    color: var(--muted-foreground);
}

/*setting border width for header*/
::deep .quickgrid[theme=data-table] th {
    height: 2.5rem;
    padding: 0.5rem;
    border-bottom: 0.05rem solid var(--border);
}

/*setting border width*/
::deep .quickgrid[theme=data-table] td {
    padding: 0.5rem;
    border-top: 0.05rem solid var(--border);
    border-bottom: 0.05rem solid var(--border);
}

/*background color change on row*/
::deep .quickgrid[theme=data-table] tr:hover {
    animation-name: hover-background;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

::deep .quickgrid[theme=data-table] tr:last-child td {
    border-bottom: none;
}

@keyframes hover-background{
    from { background-color: color-mix(in oklab, var(--accent) 0%, transparent) }
    to {background-color: color-mix(in oklab, var(--accent) 80%, transparent)}
}
