@page "/badge"

<div class="flex flex-col gap-4 p-4 items-center">
  <Badge>Default</Badge>

  <Badge Variant=@(Badge.Variants.Secondary)>
    Secondary
  </Badge>

  <Badge Variant=@(Badge.Variants.Outline)>
    Outline
  </Badge>

  <Badge Variant=@(Badge.Variants.Destructive)>
    Destructive
  </Badge>
</div>
