@page "/button"

<div class="flex flex-col gap-4 p-4 items-center">
  <Button>Default</Button>

  <Button Variant=@(Button.Variants.Secondary)>
    Secondary
  </Button>

  <Button Variant=@(Button.Variants.Outline)>
    Outline
  </Button>

  <Button Variant=@(Button.Variants.Destructive)>
    Destructive
  </Button>

  <Button Variant=@(Button.Variants.Link)>
    Link
  </Button>

  <Button Variant=@(Button.Variants.Ghost)>
    Ghost
  </Button>
</div>
