@page "/separator"

<section class="h-full flex-1 flex flex-col items-center justify-center">
  <div class="flex-1 grid grid-cols-1 w-full md:grid-cols-2 lg:max-w-5xl gap-8 p-6">
    <div>
      <Tabs DefaultValue="preview" Variant=@(Tabs.Variants.Underline)>
        <TabsList>
          <TabsTrigger Value="preview">Preview</TabsTrigger>
          <TabsTrigger Value="code">Code</TabsTrigger>
        </TabsList>

        <TabsContent Value="preview" class="flex flex-col gap-8 px-4 py-8 items-center border">
          <div>
            <h4 className="text-sm font-medium leading-none">
              Pango.UI
            </h4>
            <p className="text-sm text-muted-foreground">
              An open-source UI component library.
            </p>
          </div>

          <Separator />

          <div class="flex items-center gap-2 h-5">
            <NavLink href="https://kallebysantos.github.io/pango-ui/" target="_blank">
              <Button Variant=@(Button.Variants.Link)>
                Docs
                <i class="ph ph-arrow-square-out"></i>
              </Button>
            </NavLink>

            <Separator Orientation=@(Separator.Orientations.Vertical) />

            <NavLink href="https://github.com/kallebysantos/pango-ui" target="_blank">
              <Button Variant=@(Button.Variants.Link)>
                Repository
                <i class="ph ph-arrow-square-out"></i>
              </Button>
            </NavLink>

            <Separator Orientation=@(Separator.Orientations.Vertical) />

            <NavLink href="https://github.com/kallebysantos/tailwind-dotnet" target="_blank">
              <Button Variant=@(Button.Variants.Link)>
                Tailwind .NET
                <i class="ph ph-arrow-square-out"></i>
              </Button>
            </NavLink>
          </div>
        </TabsContent>

        <TabsContent Value="code" class="flex flex-col gap-4 items-center">
          <Code Language="razor" class="[&_pre]:max-h-80">
            @(SeparatorCodeExample)
          </Code>
        </TabsContent>
      </Tabs>
    </div>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <h2 class="pb-2 border-b text-xl leading-snug font-semibold tracking-tight">
            Installation
          </h2>

          <Code Language="fish" class="py-2">dotnet pango add separator</Code>
        </div>

      </div>
      <ApiReference Component=@(typeof(Separator))>
        <Description>Visually or semantically separates content.</Description>
      </ApiReference>
    </div>
  </div>
</section>
