@namespace Pango.UI.Components

<div class="relative">
  <Card class="animate-pulse">
    <CardContent class="bg-muted/50 rounded-xl p-8! text-center" />
  </Card>

  <div class="absolute top-1/2 left-1/2 -translate-y-1/2">
    <i class="ph ph-spinner text-muted-foreground block animate-spin"></i>
  </div>
</div>
