@using System.ComponentModel.DataAnnotations

<div class="flex flex-col gap-6 items-center">
  <EditForm Model=@(this) FormName="email-example-form" Enhance OnValidSubmit=@(HandleEmail)
    class="w-80 flex flex-col gap-2">
    <DataAnnotationsValidator />
    <div class="flex gap-2 flex-col md:flex-row md:items-end">
      <label class="flex-1 flex flex-col gap-1">
        <span class="text-sm font-medium">
          Email address
        </span>
        <Input @bind-Value=@(EmailText) placeholder="your best email here" />
        <ValidationMessage class="md:hidden text-sm text-destructive" For=@(() => EmailText) />
      </label>

      <Button type="submit">
        Submit
      </Button>
    </div>

    <ValidationMessage class="hidden md:block text-sm text-destructive" For=@(() => EmailText) />
  </EditForm>

  @if (!string.IsNullOrEmpty(EmailSent))
  {
    <Alert Variant=@(Alert.Variants.Sucess) OnDismiss=@(() => EmailSent = string.Empty)>
      <AlertSide>
        <i class="ph ph-check text-lg"></i>
      </AlertSide>
      <AlertTitle>Sucess</AlertTitle>
      <AlertDescription>
        Activation email sent to <strong class="font-medium">@EmailSent</strong>
      </AlertDescription>
    </Alert>
  }
</div>

@code {
  [SupplyParameterFromForm]
  [EmailAddress(ErrorMessage = "Its not a valid email address.")]
  [Required(ErrorMessage = "Email address is required.")]
  public string? EmailText { get; set; }

  string EmailSent = string.Empty;

  protected void HandleEmail()
  {
    EmailSent = EmailText;
  }
}

