<div class="flex flex-col gap-8 items-center">
  @if (!string.IsNullOrEmpty(Text))
  {
    <p class="text-4xl text-muted-foreground/50">
      @Text
    </p>
  }
  <Input @bind-Value=@(Text) placeholder="write something here" />
</div>

@code {
  string Text = string.Empty;
}
