@namespace Pango.UI.Components

<div @attributes=@(AdditionalAttributes) role="tabpanel" id="panel-@(Value)" tabindex="0"
  aria-labelledby="panel-@(Value)" hidden=@(!IsSelected)
  class=@(Tw([
  "mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2",
  AdditionalAttributes?.GetValueOrDefault("class")?.ToString()
  ]))>
  @(ChildContent)
</div>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter, EditorRequired]
  public required string Value { get; set; }

  [CascadingParameter(Name = nameof(Tabs.DefaultValue))]
  public string? DefaultValue { get; set; }

  protected bool IsSelected => Value == DefaultValue;
}
