@namespace Pango.UI.Components

<button 
  @attributes=@(AdditionalAttributes)
  class=@Tw([
  "group inline-flex gap-1 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring cursor-pointer disabled:pointer-events-none disabled:opacity-50", 
  GetStyledSize(Size),
  GetStyledVariant(Variant),
  AdditionalAttributes?.GetValueOrDefault("class")?.ToString()
  ])>
  @ChildContent
</button>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter]
  public Sizes Size { get; set; } = Sizes.Default;

  [Parameter]
  public Variants Variant { get; set; } = Variants.Default;
}
