<Button disabled>
  <i class="hidden group-disabled:block ph ph-spinner animate-spin"></i>
  <span class="block group-disabled:hidden">
    Submit
  </span>
  <span class="hidden group-disabled:block">
    Please wait
  </span>
</Button>
