<div class="flex flex-col md:flex-row gap-6 items-center">
  <Badge>Default</Badge>

  <Badge Variant=@(Badge.Variants.Secondary)>
    Secondary
  </Badge>

  <Badge Variant=@(Badge.Variants.Outline)>
    Outline
  </Badge>

  <Badge Variant=@(Badge.Variants.Destructive)>
    Destructive
  </Badge>
</div>
