@namespace Pango.UI

<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@(routeData)" DefaultLayout=@(typeof(Shared.Layout.MainLayout)) />
    <FocusOnNavigate RouteData="@(routeData)" Selector="h1" />
  </Found>
  <NotFound>
    <PageTitle>Not found</PageTitle>
    <LayoutView Layout=@(typeof(Shared.Layout.MainLayout))>
      <p role="alert">Sorry, there's nothing at this address.</p>
    </LayoutView>
  </NotFound>
</Router>

