@namespace Pango.UI.Components

<dialog open role="alert" class=@Tw([
    "relative w-full flex flex-col rounded-lg border bg-background px-4 py-3 text-sm",
    (AlertSide is not null) ? " pl-10": string.Empty,
    GetStyledVariant(Variant),
    AdditionalAttributes?.GetValueOrDefault("class")?.ToString()
  ])>

  @if (AlertSide is not null)
  {
    <div class="absolute translate-y-[-3px] left-4 top-4">
      @AlertSide
    </div>
  }

  <div class="flex gap-2 justify-between items-center">
    @if (AlertTitle is not null)
    {
      <h2 class="mb-1 leading-none font-medium tracking-tight">
        @AlertTitle
      </h2>
    }

    @if (EnableClose)
    {
      <form method="dialog" class="absolute top-2 right-4">
        <button type="submit" class="cursor-pointer" @onclick=@(OnDismiss)>
          <span class="sr-only">dismiss</span>
          <i class="ph ph-x"></i>
        </button>
      </form>
    }
  </div>

  @if (AlertDescription is not null)
  {
    <div class="text-sm [&_p]:leading-relaxed">
      @AlertDescription
    </div>
  }
</dialog>

@code {
  [Parameter]
  public RenderFragment? AlertSide { get; set; }

  [Parameter]
  public RenderFragment? AlertTitle { get; set; }

  [Parameter]
  public RenderFragment? AlertDescription { get; set; }

  [Parameter]
  public bool EnableClose { get; set; } = true;

  [Parameter]
  public Variants Variant { get; set; } = Variants.Default;

  [Parameter]
  public EventCallback OnDismiss { get; set; }
}
